@use 'promenjive' as *;
@use 'header' as *;
@use 'sellers' as *;
@use 'cars' as *;
@use 'footer' as *;

html,body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:550;
    color:$color_3;
}




    



